In [2]:
import pandas as ps
ps

In [3]:
pd = ps.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
pd.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
count_row = pd.shape[0]
count_row

2160

In [5]:
pd['Brand']

0         Asus
1       Alurin
2         Asus
3          MSI
4           HP
         ...
2155     Razer
2156     Razer
2157     Razer
2158     Razer
2159     Razer
Name: Brand, Length: 2160, dtype: object

In [6]:
pd['Brand'].count()

np.int64(2160)

In [14]:

a=pd.groupby('Brand').nunique()
a

,Laptop,Status,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
Brand,,,,,,,,,,,
Acer,137,2,10,13,5,5,2,9,6,2,129
Alurin,29,2,4,7,2,5,1,0,3,1,26
Apple,116,2,3,9,4,5,1,3,10,1,80
Asus,415,2,20,15,6,9,2,21,9,2,302
Deep Gaming,8,1,1,1,2,2,1,1,2,1,8
Dell,84,2,4,6,4,5,1,4,8,2,78
Denver,1,1,1,1,1,1,1,0,1,1,1
Dynabook Toshiba,19,2,3,3,2,2,1,0,3,2,19
Gigabyte,48,2,6,4,3,3,1,12,4,1,46
HP,368,2,18,14,5,7,2,23,8,2,318
Innjoo,6,1,1,1,3,4,2,0,2,1,6
Jetwing,1,1,1,1,1,1,1,0,1,1,1
LG,32,2,3,6,3,4,1,3,6,2,27
Lenovo,366,2,16,16,4,7,2,21,12,2,303
MSI,308,2,20,9,5,4,1,24,7,2,207
Medion,32,2,5,8,4,6,2,8,7,1,29
Microsoft,77,2,3,10,4,6,2,1,7,2,69
Millenium,2,1,2,1,1,1,1,2,1,1,2
PcCom,24,2,1,2,2,3,1,5,2,1,20
Primux,8,1,1,5,2,3,1,0,2,1,8
Prixton,3,1,2,1,1,2,1,0,3,2,3
Razer,37,2,2,4,2,4,1,7,5,2,31
Realme,1,1,1,1,1,1,1,0,1,1,1
Samsung,22,2,2,6,4,5,2,2,6,2,22
Thomson,4,1,2,3,2,3,2,0,3,1,4
Toshiba,1,1,1,1,1,1,1,0,1,1,1
Vant,11,1,2,2,3,2,1,0,1,1,6

In [16]:
a.size

297

In [19]:
n = pd.nunique(axis=0)
n

Laptop          2160
Status             2
Brand             27
Model            121
CPU               28
RAM                9
Storage           12
Storage type       2
GPU               44
Screen            29
Touch              2
Final Price     1440
dtype: int64

In [20]:
missing= pd.isnull().sum()
missing

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [21]:
pd.isna().sum().sum()

np.int64(1417)

In [22]:
count_nan = len(pd) - pd.count()
count_nan

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [23]:
maxValues = pd['Final Price'].max()
maxValues

np.float64(7150.47)

In [24]:
maxVal= pd.loc[pd['Final Price'].idxmax()]
maxVal

Laptop          MSI Raider GE78HX 13VH-065ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                      Raider
CPU                                                 Intel Core i9
RAM                                                            32
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4080
Screen                                                       17.0
Touch                                                          No
Final Price                                               7150.47
Name: 1099, dtype: object

In [25]:
pd['Final Price'].idxmax()

1099

In [32]:
pd.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [29]:
pd['Dell'].idxmax()

KeyError: 'Dell'